<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<ul>
    <li><a href="/">Homepage</a></li>
    <li><a href="/auth/logout">Logout</a></li>
    <li><a href="/auth/login">Login</a></li>

</ul>
<h4>Login using..</h4>
<a href="/auth/facebook">Facebook</a>
</body>
</html>
